#set($propName = $prop.getJavaName())
#set($propNameCaps = $prop.getJavaNameCaps()) 
#set($propUri = $prop.getMapUri())
#set($propRange = $prop.getRangeJava())
#set($propRangeFull = $prop.getRangeJavaFull())
// Map property $propUri
log.debug("  Mapping property $propUri");

ontProp = ontModel.getOntProperty("$propUri");
itProp = ontInst.listProperties(ontProp);
Iterator<$propRangeFull> instIt$propName = itProp.mapWith(de.incunabulum.owl2java.core.model.xsd.XsdUtils.objectAs${propRange}Mapper).filterDrop(new NullFilter<${propRange}>());		

while (instIt${propName}.hasNext()) {
	$propRangeFull inst = instIt${propName}.next();
	#if ($prop.isFunctional())
		log.debug("  Set property to " + inst);
		objInst.set${propNameCaps}(inst);
	#else
		objInst.add${propNameCaps}(inst);
		log.debug("  Add property " + inst);
	#end
}
            