    /**
     * Vocabulary for all items in this class
     */
    public static String URI = "$cls.getMapUri()";
    public static final String #uppercase($cls.getJavaInterfaceName()) = "$cls.getMapUri()";

#foreach($p in $cls.getDomainProperties(true))
    public static final String #uppercase($p.getJavaName()) = "$p.getMapUri()";
#end
