#parse("macros.vm") ##
package $fPkg;

import java.util.List;
import java.util.Map;
import java.util.HashMap;

import com.hp.hpl.jena.ontology.OntModel;

/**
 * Factory
 */
public class $fName {


    // Type Mapper
    public static Map<String, String> uri2Type;

    static {
        uri2Type = new HashMap<String, String>();
#foreach($cls in $model.getJClasses())
        uri2Type.put("$cls.getMapUri()","$cls.getJavaInterfaceFullName()");
#end
    }

    private OntModel model;

	public $fName(OntModel model) {
		this.model = model;
	}

    public static String getType(String uri) {
        return uri2Type.get(uri);
    }

    public static boolean hasType(String uri) {
        return uri2Type.containsKey(uri);
    }

#foreach($cls in $model.getJClasses())
#parse("factMethods.vm")
#end
}