public interface $cls.getJavaInterfaceName()  {

    // Generic functions for base class
    @SuppressWarnings("unchecked")
    public Iterator listTypes();

#foreach($p in $cls.getDomainProperties())
#parse("ifaceProperty.vm")
#end
}