#parse("macros.vm") ##
package $vPkg;

public class $vName {

    /**
     * Vocabulary for all interfaces
     */
#foreach($i in $model.getJClasses())
    public static final String #uppercase($i.getJavaInterfaceName()) = "$i.getMapUri()";
#end

    /**
     * Vocabulary for all classes
     */
#foreach($i in $model.getJClasses())
    public static final String #uppercase($i.getJavaClassName()) = "$i.getMapUri()";
#end

    /**
     * Vocabulary for all properties
     */
#foreach($i in $model.getJProperties())
    public static final String #uppercase($i.getJavaName()) = "$i.getMapUri()";
#end


}