
/* - forms.css - */
@media screen {
/*
** Plone style sheet - Form Elements
**
** Style sheet documentation can be found at http://plone.org/documentation
**
** You should preferrably use ploneCustom.css to add your own CSS classes and to
** customize your portal, as these are the base fundaments of Plone, and will
** change and be refined in newer versions. Keeping your changes in
** ploneCustom.css will make it easier to upgrade.
**
** Feel free to use whole or parts of this for your own designs, but give credit
** where credit is due.
**
*/

/*  (do not remove this :) */
/*  (not this either :) */

textarea {
    font: 100% Monaco, "Courier New", Courier, monospace;
    border: 1px solid #ddd;
    border-color:#666 #ddd #ddd #666;
    color: Black;
    background: White url(../gif/input_background.gif) repeat-x;
    width: 100%;
}
input {
    font-family: Verdana,"Trebuchet MS", Arial, Helvetica, sans-serif;
    visibility: visible;
    border: 1px solid #ddd;
    border-color:#666 #ddd #ddd #666;
    color: Black;
    vertical-align: middle;
    background: White url(../gif/input_background.gif) repeat-x;
    font-size: 1em;
}

/* Code to work around IE's lacking support of sub-elements of the input element */
.noborder,
.documentEditable * .noborder {
    border: none;
    margin: 0;
    background: none;
    background-color: transparent;
}

input[type=checkbox] {
    border: none;
    margin: 0;
    background: none;
    background-color: transparent;
}


#searchGadget {
    border: 1px solid #c0c0c0;
}

button {
    font-family: Verdana,"Trebuchet MS", Arial, Helvetica, sans-serif;
    visibility: visible;
    border: 1px solid #c0c0c0;
    color: Black;
    vertical-align: middle;
    background-color: #efefef;
    padding: 1px;
    cursor: pointer;
    font-size: 85%;
    text-transform: lowercase;    
}
select {
    vertical-align: top;
}
form {
    border: none;
    margin: 0;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 1em 0em 1em 0em;
    padding: 0em 1em 1em 1em;
    line-height: 1.5em;
    width: auto;
}
legend {
    background: #efefef;
    padding: 0.5em;
    font-size: 90%;
}
label {
    font-weight: bold;
}
optgroup {
  font-style: normal;
  font-weight: bold;
  color: #999;
  padding-left: 0.25em;
}
option {
  color: black;
}
optgroup > option {
  padding: 0 0.25em 0 1em;
}

dl.enableFormTabbing dd {
    margin-left: 0;
    padding-top: 2em;
}

#login-form {
    width: 30em; 
    margin: 0 auto;
}
#login-form .field {
    clear: none;
}
#login-form input {
    font-size: 150%;
}
#login-form input.context {
    padding: 1px 10px 1px 20px;
    background-position: 9px 5px;
    margin-bottom: 1em;
}

#forgotten-password {
    float: right; 
    width: 35%; 
    margin: 0 1em;
}

.standalone,
.documentEditable * .standalone {
    background: #efefef url(../gif/linkopaque.gif) 9px 1px no-repeat;
    color: Black;
    cursor: pointer;
    font-size: 85%;
    padding: 1px 1px 1px 15px;
    text-transform: lowercase;
    border: 1px solid #c0c0c0;
}
.context,
.formControls .actionButtons .button,
.documentEditable * .context {
    background: transparent url(../gif/linktransparent.gif) 9px 1px no-repeat;
    color: Black;
    cursor: pointer;
    font-size: 85%;
    padding: 1px 1px 1px 15px;
    text-transform: lowercase;
    border: 1px solid #c0c0c0;
}
.destructive,
.documentEditable * .destructive {
    background: #ffce7b url(../gif/linktransparent.gif) 9px 1px no-repeat;
    border: 1px solid #ffa500;
    color: Black;
    cursor: pointer;
    font-size: 85%;
    padding: 1px 1px 1px 15px;
    text-transform: lowercase;
    border: 1px solid #c0c0c0;
}
input.searchButton {
    margin-bottom: 1px ! important;
    color: Black;
    font-size: 85%;
    background: #efefef url(../gif/search_icon.gif) 2px 1px no-repeat;
    cursor: pointer;
    padding: 1px 1px 1px 19px;
    text-transform: lowercase;
    border: 1px solid #c0c0c0;
}
.searchSection {
    color: #76797c;
    margin-top: 0.25em;
}
.searchSection label:hover {
    color: Black;
}

/* The edit form elements */
.field {
    top: 0;
    left: 0;
    margin: 0 1em 1em 0;
    clear: both;
}
.field .field {
    margin: 0;
}
.fieldRequired {
    background: url(../gif/required.gif) center left no-repeat;
    padding: 0 0 0 8px;
    color: #efefef;
}
.fieldUploadFile {
    text-align: right; 
    margin-right: 0.75em;
    display: none;
}
.fieldTextFormat {
    text-align: right;
    margin-right: 0.75em
}
.formHelp {
    font-size: 90%;
    color: #76797c;
    margin: 0 0 0.2em 0;
}
.formHelp:hover {
    color: Black;
    cursor: default;
}
div.error {
    /* Class for error indication in forms */
    background-color: #fdc; 
    border: 1px solid #d00;
    padding: 0.5em;
    margin: 0 0 1em 0;
    width: 95%;
}
.error .fieldRequired {
   color: #d00;
}


/* Styles to make the editing widgets look more like their view counterparts */
#archetypes-fieldname-title input, input#form\.title {
    font-size: 160%;
    font-family: Georgia, Verdana, Serif;
    font-weight: normal;
    width: 99%;
}
#archetypes-fieldname-description textarea, textarea#form\.description {
    font: 100% Verdana,"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
}
input.inputLabelActive {
  color: #76797c;
}

textarea#form\.description {
    height: 6em;
    width: 99%;
}

tr.selected { 
    background-color: #ffa;
}

.kupu-save-message {
  color: white;
  font-weight: bold;
  background-color: red;
  padding: 0.3em;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
}

/*  */

}

