
/* - public.css - */
@media screen {
/*
  This file is based on the ploneCustom.css.dtml file shipped with Plone.

   (do not remove this)
   (not this either)
*/

/* YOUR CSS RULES START HERE */



/* YOUR CSS RULES STOP HERE */

/*  */

/* Latest version of the documentation on pre-defined properties from Plone 
   can be found in CMFPlone/skins/plone_styles/ploneCustom.css.dtml */


}

